{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-256x256">
                    <img src="/static/red_mitten.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Red Mitten</p>
                        <p class="subtitle is-6">Stylish, and affordable!</p>
                    </div>
                </div>
                
                <div class="content">
                    <form action="/purchase" method="POST">
                        <input name="shipping" type="hidden" value="3">
                        <div class="field">
                            <label class="label">Price</label>
                            <div class="control has-icons-left">
                                <input class="input is-medium" name="cost" readonly="true" value="15">
                                <span class="icon is-left">
                                    $
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Quantity</label>
                            <div class="control">
                                <input class="input is-medium" name="quantity" type="number" value="1">
                            </div>
                            <script>
                                let quantity = document.getElementsByName("quantity")[0];

                                quantity.onchange = function() {
                                    if (quantity.value < 1) {
                                        quantity.value = 1;
                                    }
                                }
                            </script>
                        </div>
                        <input type="submit" class="button" value="Purchase">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        
    </div>
</div>
{% endblock %}
